@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: rgba(244, 246, 250, 1);
  background-image: url("./image/Ellipse8.svg"), url("./image/Ellipse9.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: 0 0, 100% 100%;
  height: 1000px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.dark {
  background-image: url("./image/Ellipse10svg.svg"), url("./image/Ellipse11.svg");
  background-color: rgba(49, 62, 81, 1);

  .container-text p {
    color: rgba(171, 193, 225, 1);
  }

  .container-text h2 {
    color: rgba(255, 255, 255, 1);
  }

  .htmlbox {
    background-color: rgba(59, 77, 102, 1);
  }

  .htmlbox p {
    color: rgba(255, 255, 255, 1);
  }

  .cssbox {
    background-color: rgba(59, 77, 102, 1);
  }

  .cssbox p {
    color: rgba(255, 255, 255, 1);
  }

  .jsbox {
    background-color: rgba(59, 77, 102, 1);
  }

  .jsbox p {
    color: rgba(255, 255, 255, 1);
  }

  .accbox {
    background-color: rgba(59, 77, 102, 1);
  }

  .accbox p {
    color: rgba(255, 255, 255, 1);
  }
}

.darkmode {
  display: flex;
  gap: 18px;
  justify-content: flex-end;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #A729F5;
}

input:focus+.slider {
  box-shadow: 0 0 1px #A729F5;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1160px;
  margin: 100px auto;
  gap: 99px;
}

.box {
  display: flex;
  justify-content: space-between;
  width: 1160px;
}

.container-text {
  width: 465px;
}

.container-text h2 {
  width: 444px;
  color: rgba(49, 62, 81, 1);
  font-size: 64px;
  font-weight: 300;
  line-height: 64px;
  text-align: left;
  margin-bottom: 48px;

}

.container-text p {
  width: 465px;
  color: rgba(98, 108, 127, 1);
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 30px;
  text-align: left;


}

.startmenu {
  width: 564px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  button {
    border: none;
  }
}

.htmlbox {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  gap: 32px;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  font-family: Rubik;
  font-size: 28px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  border-radius: 20px;
}

.htmlbox img {
  margin: 20px;
  display: flex;
  text-align: center;
}

.htmlbox p {
  display: flex;
  gap: 32px;
  align-items: center;
  font-size: 28px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: rgba(49, 62, 81, 1);
}

.cssbox {
  background-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 32px;
  border-radius: 20px;
}

.cssbox img {
  margin: 20px;
  display: flex;
  text-align: center;
}

.cssbox p {
  display: flex;
  gap: 32px;
  align-items: center;
  color: rgba(49, 62, 81, 1);
  font-size: 28px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;

}

.jsbox {
  background-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 32px;
  border-radius: 20px;
}

.jsbox img {
  margin: 20px;
  display: flex;
  text-align: center;
}

.jsbox p {
  display: flex;
  gap: 32px;
  align-items: center;
  font-size: 28px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: rgba(49, 62, 81, 1);
}

.accbox {
  background-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 32px;
  border-radius: 20px;
}

.accbox img {
  margin: 20px;
  display: flex;
  text-align: center;
}

.accbox p {
  display: flex;
  gap: 32px;
  align-items: center;
  color: rgba(49, 62, 81, 1);
  font-size: 28px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
}