@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: rgba(244, 246, 250, 1);
  background-image: url("./image/Ellipse8.svg"), url("./image/Ellipse9.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: 0 0, 100% 100%;
  height: 1000px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.progresBar {
  background-color: black;
}

.dark {
  background-image: url("./image/Ellipse10svg.svg"), url("./image/Ellipse11.svg");
  background-color: rgba(49, 62, 81, 1);

  .boxed-text p {
    color: rgba(171, 193, 225, 1);
  }

  .boxed-text h1 {
    color: rgba(255, 255, 255, 1);
  }

  .startLight button {
    background-color: rgba(59, 77, 102, 1);
  }

  .startLight button p {
    color: rgba(255, 255, 255, 1);
  }

  .cvpB {
    background-color: rgba(59, 77, 102, 1);
  }

  .cvpB p {
    color: rgba(255, 255, 255, 1);
  }

  .cvpC {
    background-color: rgba(59, 77, 102, 1);
  }

  .cvpC p {
    color: rgba(255, 255, 255, 1);
  }

  .cvpD {
    background-color: rgba(59, 77, 102, 1);
  }

  .cvpD p {
    color: rgba(255, 255, 255, 1);
  }

  .startLight button span p {
    color: rgba(98, 108, 127, 1);
  }

  .cvpB span p {
    color: rgba(98, 108, 127, 1)
  }

  .cvpC span p {
    color: rgba(98, 108, 127, 1)
  }

  .cvpD span p {
    color: rgba(98, 108, 127, 1)
  }

  .modeLight {
    color: rgba(255, 255, 255, 1);
  }

  .modeLight span img {
    background-color: rgba(246, 231, 255, 1);
  }

  .bar {
    background-color: rgba(59, 77, 102, 1);
  }
}

.header {
  display: flex;
  gap: 18px;
  justify-content: flex-end;
}

.darkmode {
  display: flex;
  gap: 18px;
  justify-content: flex-end;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #A729F5;
}

input:focus+.slider {
  box-shadow: 0 0 1px #A729F5;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modeLight {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: Rubik;
  font-size: 28px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: rgba(49, 62, 81, 1);
  margin-bottom: 0;
  gap: 6px;

  span img {
    margin: 20px;
    padding: 10px 13px;
    border-radius: 10px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(143, 160, 193, 0.14);
  }
}

.question {
  display: flex;
  flex-direction: column;
  width: 1160px;
  margin: 100px auto;
  gap: 99px;
}

.boxed {
  display: flex;
  justify-content: space-between;
  width: 1160px;
}

.boxedHeader {
  display: flex;
  flex-direction: column;
  gap: 164px;

}

.bar {
  width: 465px;
  height: 16px;
  padding: 4px;
  background-color: #fff;
  border-radius: 8px;
}

.barStick {
  height: 8px;
  border-radius: 5px;
  background-color: rgba(167, 41, 245, 1);
}

.boxed-text {
  width: 465px;
}

.boxed-text h1 {
  color: rgba(49, 62, 81, 1);
  font-family: Rubik;
  font-size: 36px;
  font-weight: 500;
  line-height: 43.2px;
  text-align: left;
  margin-bottom: 48px;
}

.boxed-text p {
  width: 465px;
  margin-bottom: 27px;
  color: rgba(98, 108, 127, 1);
  font-family: Rubik;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}

.startLight {
  width: 564px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  button {
    border: none;
  }
}

.startLight button:not(.btn){
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 32px;
  text-decoration: none;
  border-radius: 20px;
}

.startLight button img {
  margin: 20px;
  display: flex;
  text-align: center;
}

.startLight button:not(.btn) p {
  display: flex;
  gap: 32px;
  align-items: center;
  font-family: Rubik;
  font-size: 28px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: rgba(49, 62, 81, 1);
}

.startLight button span {
  margin: 20px;
  display: flex;
  text-align: center;
  background-color: rgba(244, 246, 250, 1);
  border-radius: 10px;
}

.startLight button span p {
  display: flex;
  gap: 32px;
  padding: 16px 18px;
  font-family: Rubik;
  font-size: 28px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: rgba(98, 108, 127, 1);

}

.btn {
  width: 564px;
  background-color: #A729F5;
  text-decoration: none;
  display: flex;
  cursor: pointer;
  gap: 32px;
  border-radius: 20px;
}

.btn p {
  display: flex;
  gap: 32px;
  align-items: center;
  margin: auto;
  padding: 32px;
  color: rgba(255, 255, 255, 1);
  font-family: Rubik;
  font-size: 28px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
}